<html  *ngIf="isLoggedIn">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>


<body>
  <div class="container">
    <br>
    <div class="content">
      <br>
      <p class="title"> <i class="bi bi-person-square"></i>  Bienvenue {{currentUser.firstName}} {{currentUser.lastName}}</p>
      <a class="profile" href="/profile" routerlink="profile" class="profile"> <u>Mon profile</u></a>
      <div class="btn green"><h6><i class="bi bi-recycle"></i> MEZZO GREEN LINE ATTITUDE</h6></div>
    </div>

    <br>
      <div class="btn-group ">
      <div class="group1" type="button"><div class="icon"><i class="bi bi-graph-up-arrow"></i></div>Animations et Challenges </div>
       <div class="group1" type="button"><div class="icon"><i class="bi bi-calendar2-x"></i></div>Mes Congés</div>
       <div class="group1" type="button"><div class="icon"><i class="bi bi-heart-pulse"></i></div>Santé et Médecine du travail  </div>
       <div class="on"><div class="group2" type="button">Services ON</div></div>
       <div class="group2" type="button">Annuaire de contacts </div>
       <div class="group2" type="button">Autres services</div>

</div>
      </div>
  </body>
</html>
