
<!-- <div class="container">
  <br><br><br>
    <p>La page d'acceuil.    </p>

      <p>(Under construction)</p>
</div> -->
<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">

  <section>
    <div class="slider-container">
      <div class="menu">
        <label for="slide-dot-1"></label>
        <label for="slide-dot-2"></label>
        <label for="slide-dot-3"></label>
      </div>

      <input id="slide-dot-1" type="radio" name="slides" checked>
        <div class="slide slide-1">

            <div class="block">
              <h2>Bienvenue chez</h2>
              <h1>Mezzo</h1>
              <BR>
              <h3>le Partenaire se la Relation Clients Sur-Mesure</h3>
            </div>
            <BR><BR>
              <a href="/Contact" routerlink="Contact"><button class="btn buttoncontact"> Nous Contacter </button></a>
        </div>

      <input id="slide-dot-2" type="radio" name="slides">
        <div class="slide slide-2">

              <div class="block">
                <h2>Offrez une expérience exceptionelle à vos clients</h2>
                <h1>Mezzo RC</h1>
                <BR>
                <h3>Gestion Omnicanale de votre Relation Clients</h3>
              </div>

        </div>

      <input id="slide-dot-3" type="radio" name="slides">
        <div class="slide slide-3">

                  <div class="block">
                    <h2>Professionnaliser votre Centre Interne avec</h2>
                    <h1>Mezzo Solutions</h1>
                    <BR>
                    <h3>Conseil Opérationnel</h3>
                  </div>

        </div>
        <BR><BR>
    </div>
    <div class="we-offer-area text-center bg-gray">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="site-heading text-center">
                      <h2>Vos <span>Besoins</span></h2>
                  </div>
              </div>
          </div>
              <div class="row our-offer-items less-carousel">

                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <i class="fas fa-light fa-dollar-sign"></i>
                          <h4>Optimiser les coûts</h4>
                          <p>
                            Pour chacun d’entre nous, la Relation Clients est considérée comme un Centre de Profits. Nous sommes également votre partenaire dans la gestion ROIsée de votre budget Relation Clients
                          </p>
                      </div>
                  </div>



                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <i class="fas fa-chart-line"></i>
                          <h4>Développer votre Chiffre d’Affaires</h4>
                          <p>
                            Chaque interaction avec vos Clients est l’opportunité de les fidéliser à travers la qualité du service mais aussi par la concrétisation des intentions d’achats
                          </p>
                      </div>
                  </div>



                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <i class="fas fa-light fa-user"></i>
                          <h4>Adapter le savoir-être aux profils « sectoriels » de vos Clients</h4>
                          <p>
                            Nous avons développé une approche 100% adaptée au profil spécifique de vos Clients
                          </p>
                      </div>
                  </div>



                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <i class="fas far fa-handshake"></i>
                          <h4>Transformer l’Expérience en Enchantement Clients</h4>
                          <p>
                            Respecter les conditions d’achat d’un service ou un produit n’est pour vos Clients qu’un prérequis qui offre une expérience « normale » avec la marque… Accompagner, prévenir, conseiller ou gérer parfaitement une anomalie assure à ce même Client que notre priorité est sa satisfaction
                          </p>
                      </div>
                  </div>



                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <i class="fas fa-thin fa-bullseye"></i>
                          <h4>Professionnaliser votre Centre Interne</h4>
                          <p>
                            Nous vous accompagnons dans l’intégration des méthodes, processus et outils des professionnels de la Relation Clients au savoir-être de votre marque
                          </p>
                      </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <i class="fas fa-check "></i>
                          <h4>Sécuriser votre externalisation</h4>
                          <p>
                            Réussir parfaitement l’externalisation de sa Relation Clients est avant tout un transfert d’ADN vers un partenaire. Nous assurons toutes les phases d’accompagnement de ce transfert afin que vous et vos Clients viviez une expérience positive
                          </p>
                      </div>
                  </div>
                  <!-- End Single Item -->
              </div>
      </div>
    </div>
    </section>
    <br><br>





<app-footer></app-footer>

